@import url("/css/logo.css");
@import url("/css/button.css");
@import url("/css/header.css");
@import url("/css/navigation.css");
@import url("/css/promo.css");
@import url("/css/more.css");
@import url("/css/hr.css");
@import url("/css/waiting.css");
@import url("/css/imperial-navy.css");
@import url("/css/how-to-join.css");

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

html {
    font-family: sans-serif;
}